extends ../layout

block content
	h1.
		#{title}
	form#formAddEvent(name="addEvent",method="post",action="/events")
		p Title:
			input#inputTitle(type="text", placeholder="ex. First Friday", name="title")
		p Caption:
			input#inputCaption(type='text', placeholder="ex. Hops and Grains!", name='caption')
		p Info:
			input#inputInfo(type='text', placeholder="ex. 4/22/2016 6PM!", name='info')
		p
			button#btnSubmit(type="submit") submit
